.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
  background: white;
  border: 5px solid $color2;
  transform-origin: 50% 100%;
  transition: .5s;
  cursor: pointer;
  &:hover {
    background: $color2;
    transform: scale(1.1);
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  &__img {
    width: 200px;
    height: 120px;
    object-fit: cover;
  }
  &__title {
    margin: 20px 0;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
}
