.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: $color3;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  h1{
    margin: 20px 0;
    font-family: $titles-font;
    font-size: 4em;
  }
}
