.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  .social-media {
    margin-top: 20px;
    &--facebook {
      color: ORCHID;
    }
    
    &--instagram {
      color: MEDIUMTURQUOISE;
    }
    
    &--twitter {
      color: SALMON;
    }
  }
}


