.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  p {
    font-family: $titles-font;
    font-size: 2em;
  }
  &__menu {
    display: flex;
    list-style: none;
    li {
      margin-left:20px;
      cursor: pointer;
    }
  }
}
