.social {
  display: flex;
  justify-content: center;
  &__button {
    width: 120px;
    height: 40px;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border: 3px solid $color2; 
    transition: .3s;
    &:hover {
      background-color: $color2;
      color: white; 
    }
  }
}
