// Variables
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
//fonts
$main-font : 'Roboto', sans-serif;
$titles-font : 'Pacifico', cursive;
$bold : 600;
$normal : 400;
$light : 300; 

//colors
$color1 : #DBE5B3;
$color2 : #F1E4B9;
$color3 : linear-gradient(to top, $color1, $color2);

//space
