*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
@import './_tokens.scss';
@import './_containers.scss';
@import './_header.scss';
@import './_card.scss';
@import './_social.scss';
@import './_footer.scss';